<footer class="footer">
  <div class="container">
    <div class="column">
      <h3>Thông tin chung</h3>
      <ul>
        <li><a href="#">Chính sách bảo hành</a></li>
        <li><a href="#">Chính sách bảo mật</a></li>
        <li><a href="#">Điều kiện giao dịch chung</a></li>
        <li><a href="#">Đăng ký đại lý</a></li>
        <li><a href="#">Quy định đổi trả sản phẩm</a></li>
        <li><a href="#">Tin tức doanh nghiệp</a></li>
        <li><a href="#">Hệ thống cửa hàng</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Hướng dẫn mua hàng</h3>
      <ul>
        <li><a href="#">Vận chuyển và giao nhận</a></li>
        <li><a href="#">Phương thức thanh toán</a></li>
      </ul>
    </div>
    <div class="column">
      <h3>Kết nối với chúng tôi</h3>
      <div class="social-icons">
        <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
        <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
      </div>
    </div>
    <div class="column">
      <div class="hotline">Hotline:<br />1900 2033</div>
    </div>
  </div>
  <div class="bottom">
    <p>&#169;2023 All rights reserved Laforce</p>
    <p class="address">
      CÔNG TY TNHH LAFORCE VIỆT NAM - Địa chỉ: Số 129 Cầu Giấy, Phường Quan Hoa,
      Quận Cầu Giấy, Thành Phố Hà Nội, Việt Nam - Mã số doanh nghiệp: 0106156656
    </p>
  </div>
</footer>
