<div class="content">
  <nav class="navbar navbar-expand-lg navbar-dark mb-4">
    <a class="navbar-brand p-3" href="#"></a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

      <form class="form-inline my-2 my-lg-0 d-flex gap-2 ">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
        />
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
          Search
        </button>
      </form>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item ">
          <a class="nav-link d-flex align-items-center gap-2" href="#"
            ><img
              src="https://thumbs.dreamstime.com/b/%D0%BF%D0%B5%D1%87%D0%B0%D1%82%D1%8C-male-face-avatar-man-beard-suit-shirt-necktie-portrait-businessman-icon-vector-illustration-189004563.jpg"
              alt="Avatar"
              class="rounded-circle "
            />
            Khanh</a
          >
        </li>
      </ul>
    </div>
  </nav>
</div>
