
  <div class="container">
    <p-toast position="top-right"></p-toast>
    <h2 class="text-center" style="color: #3b5998;">Login</h2>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email" formControlName="email" class="form-control">
        <div *ngIf="loginForm.controls['email'].touched && loginForm.controls['email'].invalid">
          <small class="text-danger" *ngIf="loginForm.controls['email'].errors?.['required']">Email là bắt buộc</small>
          <small class="text-danger" *ngIf="loginForm.controls['email'].errors?.['email']">Định dạng email không hợp lệ</small>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Mật khẩu</label>
        <input id="password" type="password" formControlName="password" class="form-control">
        <div *ngIf="loginForm.controls['password'].touched && loginForm.controls['password'].invalid">
          <small class="text-danger" *ngIf="loginForm.controls['password'].errors?.['required']">Mật khẩu là bắt buộc</small>
          <small class="text-danger" *ngIf="loginForm.controls['password'].errors?.['minlength']">Mật khẩu phải có ít nhất 6 ký tự</small>
        </div>
      </div>
      <div class="form-group">
        <button type="submit">Submit</button>
      </div>
      <div class="forgot-password">
        <a href="#">Forgot password?</a>
      </div>
    </form>
  </div>
