<div >
  <nav class="sidebar flex-column p-3">
    <a href="/" class="logo text-white text-decoration-none mx-auto">
      <i class="fas fa-crown"></i> Khanh shop
    </a>
    <ul class="nav flex-column mt-5 ">
      <li class="nav-item">
        <a href="#" class="nav-link"
          ><i class="fas fa-tachometer-alt"></i> Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/products/list']" class="nav-link"><i class="fas fa-cogs"></i> Product List</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/product/add']" class="nav-link"><i class="fas fa-wrench"></i> Add Product</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link"><i class="fas fa-folder"></i> Pages</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/admin/users']" class="nav-link"
          ><i class="fas fa-chart-area"></i> User</a
        >
      </li>
      <li class="nav-item">
        <a [routerLink]="['/']" class="nav-link"><i class="fas fa-table"></i> Tables</a>
      </li>
    </ul>
    <div class="mt-auto">
      <a [routerLink]="['/']" class="btn btn-success">Upgrade to Pro!</a>
    </div>
  </nav>
</div>
